
@import url(https://fonts.bunny.net/css?family=inter:900);
body {
    width: 445px !important;
    height: 106px !important;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
img {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
}
#text {
    font-family: 'Inter', sans-serif;
    font-size: 50px; 
    font-weight: 900; 
    text-align: center; 
    color: #fff;
    margin: 0;
}